.QWidget {
/*    background-color: indigo; */
    background-color: lightblue;
    border-width: 3px;
    border-radius: 8px;
/*    border-color: "black"; */
    border-style: solid;
}

QWidget#centralwidget {
    border-color: "black";
}


QDialog {
    background-color: indigo;
}

QPushButton {
/*    background-color: orchid; */
    background-color: cornsilk;
    border-width: 3px;
    border-radius: 8px;
    border-color: black;
    border-style: solid;
    font-family: Ubuntu;
    font-size: 16px;
    color: black;
    padding: 3px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: "violet";
}

QLabel {
    font-family: Ubuntu;
    font-size: 16px;
    color: white
}

QLabel#title_label {
    font-family: FreeSans;
    font-size: 32px;
    color: black;
    font-weight: bold;
}

QLineEdit {
    background-color: white;
    color: black;
    padding: 3px;
    font-family: Ubuntu;
}

QCheckBox {
    color: white;
    font-family:  Ubuntu;
    font-size: 16px;
}

QTabWidget {
    background-color: "indigo";
}

QProgressBar {
    background-color: black
}

QVBoxLayout {
    border-color: indigo;
}

QHBoxLayout {
    border-color: indigo;
}
