.QWidget {
    background-color: lightblue;
    border-width: 3px;
    border-radius: 8px;
    border-style: solid;
}

QWidget#centralwidget {
    border-color: "black";
}


QDialog {
    background-color: lightblue;
}

QPushButton {
    background-color: cornsilk;
    border-width: 3px;
    border-radius: 8px;
    border-color: black;
    border-style: solid;
    font-family: Ubuntu;
    font-size: 18px;
    color: black;
    padding: 3px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: orange;
}

QLabel {
    font-family: FreeSans;
    font-size: 18px;
    color: black
}

QLabel#title_label {
    font-family: FreeSans;
    font-size: 36px;
    color: black;
    font-weight: bold;
}

QLabel#total_learnt_label,
QLabel#total_review_label,
QLabel#known_words_label,
QLabel#review_words_label {
    font-family: FreeSans;
    font-size: 18px;
    color: black;
    
}

QLabel#new_course_message_label {
    font-family: FreeSans;
    color: red;
}


QLineEdit {
    background-color: white;
    color: black;
    padding: 3px;
    font-family: Ubuntu;
}

QCheckBox {
    color: black;
    font-family:  FreeSans;
    font-size: 18px;
}

QTabWidget {
    background-color: "indigo";
}

QProgressBar {
    background-color: black
}
